body{
  a{
    text-decoration:none;
  }
  span{
    &.edit{
      cursor:pointer;
    }
  }
  .backgroundColor{
    background:$topbar-bg-color;
  }
  .shadow{
    box-shadow: 0 1px 2px 0 darken($hr-border-color,20%);
  }
  select.birthdate{
    width:31%;
  }
  .close_x{
    @include reveal-close;
    font-size:1.5rem;
    top:0;
    right:0;
  }
  .searchPanel{
    max-width:100%;
    padding:5px;
    li{
      height:45px;
      position:relative;
      overflow:hidden;
      .name{
        float:left;
        margin:14px 0 0 10px;
      }
      .add-sponsor{
        position:absolute;
        top:7px;
        right:10px;
        margin:0;
      }
      .imgContainer{
        float:left;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        img{
          display: inline-block !important;
          max-width: 45px !important;
          max-height: 45px !important;
          vertical-align: middle !important;
        }
      }
    }
    .logoSponsor{
      text-align:left;
    }
    .nameSponsor{
      text-align:left;
      padding:$column-gutter/2;
    }
    .addButtonSponsor{
      text-align:right;
      padding:$column-gutter/2;
    }
    a{
      color:white;
      display:inline;
    }
    img{
      margin-bottom:0;
      max-width:66px;
      display:inline;
    }
  }
  nav{
    &.top-bar{
      .usermenu{
        li{
          ul{
              border-radius:$global-radius;
              overflow:hidden;
              width:100%;
              li{
                width:100%;
                a{
                  color:$body-font-color;
                  background:white !important;
                  &:hover, &:focus{
                    background: $side-nav-link-bg-hover !important;
                    color:$body-font-color;
                  }
                }
              }
            }
          &.plusOne{
            .plusOneButton{
              font-size:22px;
              font-weight:bold;
            }
          }
          #plusOnePanel{
            border-radius:$global-radius;
            
          }
        }
      }
    }
  }
  .reveal-modal{
    .close-reveal-modal{
      font-size:1.5rem;
    }
    #remindPass{
      display:none;
    }
  }
  .mainContent{
    .dummyDiv{
      height:$topbar-height + 10;
    }
      .avatar_container{}
      .content_container{
        
        margin-bottom:15px;
        background:white;
        @include radius($global-radius);
        .detail_post_container{
          margin:$column-gutter/2 0;
          img{
            margin-bottom:5px;
            display:block;
            width:100%;
          }
          .notIn{
            list-style-type:none;
            margin:0;
            li{
              text-align:left;
              position:relative;
              vertical-align:top;
              .name{
                margin-left:10px;
                display:inline;
                position: absolute;
                top: 0;
              }
              .imgContainer{
                width:66px;
                height:66px;
                overflow:hidden;
                display:inline;
                img{
                  max-width:66px;
                  display:inline;
                }
              }
            }
          }
          #sponsor_containment{
            .button{
              padding:4px 8px;
            }
          }
        }
        .post-controller{
          ul{
            margin-bottom:0;
            li{
              a{
                &:hover{
                  color:$body-font-color;
                }
              }
            }
          }
        }
        .detail_poster_container{
          padding:$column-gutter/2;
          background:$body-bg;
          
        }
        .description_container{
          margin-bottom:$column-gutter/2;
        }
      }
    .session_right{
      @include radius($global-radius);
      background:white;
      a{
        color:$body-font-color;
      }
      .side-nav li a{
        color:$body-font-color;
      }
    }
    .session_right{
      .side-nav{
        font-weight:bold;
        li{
          margin-bottom:0;
          &.divider{
            border-top-color:$hr-border-color;
          }
          &.title{
            margin-top:10px;
            text-transform:uppercase;
            color:lighten($body-font-color,40%);
            padding: $side-nav-link-padding 0;
            }
        }
      }
    }
  }
}