@import url(_reset.css);
/*
 * @Author: Phan Viet Duc
 * @Email: joomdaily@gmail.com
 *  */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    clear: both; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2c4762;
  font-size: 14px; }

p {
  font-size: 14px;
  color: #333333;
  padding: 5px;
  line-height: 15px; }

a {
  color: #3b5998; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: bold; }

input {
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.head {
  width: 100%;
  position: fixed;
  top: 0;
  height: 42px;
  overflow: hidden;
  background: #2c4762;
  border-bottom: 1px solid #1c2d3f; }
  .head .box {
    width: 49%;
    float: left; }

.wrapper {
  width: 990px;
  height: auto;
  margin: 0 auto; }

.mainWrapper {
  margin-top: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; }
  .mainWrapper .rightSection {
    width: 280px;
    float: right; }
  .mainWrapper .leftSection {
    width: 700px; }
    .mainWrapper .leftSection .post {
      padding: 0 5px; }
